<ion-view view-title="Dashboard">
    <ion-content ng-controller="MenuCtrl">
        <ion-refresher on-refresh="menuVm.doRefresh()"
            pulling-text="Pull to refresh..."
            pulling-icon="ion-arrow-down-c"
            refreshing-text="Loading..."
            spinner="ripple spinner-royal">
        </ion-refresher>

        <div class="card">
            <ion-list>
                <ion-item class="item-divider">
                    Summary
                </ion-item>
                <ion-item class="item-padding" ui-sref="main.unshipped">
                    <div class="dashboard-number">
                        {{menuVm.unshippedProducts}}
                    </div>
                    <div class="dashboard-text">
                        orders waiting to be shipped
                    </div>
                    <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
                </ion-item>
                <ion-item class="item-padding" ui-sref="main.warnings">
                    <div class="dashboard-number">
                        {{menuVm.lowStockProducts}}
                    </div>
                    <div class="dashboard-text">
                        products with low stock levels
                    </div>
                    <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
                </ion-item>
                <ion-item class="item-padding" ui-sref="main.unavailable">
                    <div class="dashboard-number">
                        {{menuVm.noStockProducts}}
                    </div>
                    <div class="dashboard-text">
                        products that are out of stock
                    </div>
                    <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
                </ion-item>
            </ion-list>
        </div>

        <div class="card" ng-if="menuVm.subExpiryDays <= 10">
            <ion-list>
                <ion-item class="item-divider">
                    Subscription
                </ion-item>
                <ion-item class="item-padding" ui-sref="main.unshipped">
                    <div class="dashboard-number red-text">
                        {{menuVm.subExpiryDays}}
                    </div>
                    <div class="dashboard-text">
                        days until subscription expires
                    </div>
                    <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
