<ion-view view-title="Dashboard">
    <ion-content ng-controller="MenuCtrl">
        <ion-refresher on-refresh="menuVm.doRefresh()"
            pulling-text="Pull to refresh..."
            pulling-icon="ion-arrow-down-c"
            refreshing-text="Loading..."
            spinner="lines">
        </ion-refresher>

        <img ng-src="{{menuVm.logoImageBase}}" style="width: 100%;margin: 10px auto 0px auto;" />

        <div class="card">
            <ion-list>
                <ion-item class="item-divider item-dark">
                    Summary
                </ion-item>
                <ion-item class="item-divider">
                    Unshipped Orders
                </ion-item>
                <ion-item class="item-icon-right" ui-sref="main.unshipped">
                    <div class="dashboard-number">
                        {{menuVm.unshippedProducts}}
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item class="item-divider">
                    Low Stock Warnings
                </ion-item>
                <ion-item class="item-icon-right">
                    <div class="dashboard-number">
                        {{menuVm.lowStockProducts}}
                    </div>
                    <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
                </ion-item>
                <ion-item class="item-divider">
                    Products Out Of Stock
                </ion-item>
                <ion-item class="item-icon-right">
                    <div class="dashboard-number">
                        {{menuVm.noStockProducts}}
                    </div>
                    <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
                </ion-item>
            </ion-list>
        </div>

        <div class="card">
            <ion-list>
                <ion-item class="item-divider item-dark">
                    Subscription
                </ion-item>
                <ion-item class="item-icon-left item-icon-right" ng-class="menuVm.subDangerLevel()" ui-sref="main.subscription">
                    <i class="icon" ng-class="menuVm.subDangerIcon()"></i>
                    {{menuVm.subDangerText()}}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
