<ion-view view-title="Dashboard">
    <ion-content ng-controller="MenuCtrl">
        <ion-refresher on-refresh="menuVm.doRefresh()"
            pulling-text="Pull to refresh..."
            pulling-icon="ion-arrow-down-c"
            refreshing-text="Loading..."
            spinner="lines">
        </ion-refresher>

        <div class="card transparent">
            <img ng-src="{{menuVm.logoImageBase}}" style="height: 100px;" />
        </div>

        <div class="card transparent">
            <div class="row">
                <div class="col dashboard-info" ng-class="menuVm.unshippedProducts > 0 ? 'blue-text' : 'plain-text'">
                    <div class="dashboard-number">
                        {{menuVm.unshippedProducts}}
                    </div>
                    <div class="dashboard-title">
                        Unshipped
                    </div>
                </div>
                <div class="col dashboard-info" ng-class="menuVm.lowStockProducts > 0 ? 'amber-text' : 'plain-text'">
                    <div class="dashboard-number">
                        {{menuVm.lowStockProducts}}
                    </div>
                    <div class="dashboard-title">
                        Low Stock
                    </div>
                </div>
                <div class="col dashboard-info" ng-class="menuVm.noStockProducts > 0 ? 'red-text' : 'plain-text'">
                    <div class="dashboard-number">
                        {{menuVm.noStockProducts}}
                    </div>
                    <div class="dashboard-title">
                        Out Of Stock
                    </div>
                </div>
            </div>
        </div>

        <div class="card transparent" style="margin-top: -30px;">
            <div class="row">
                <div class="col dashboard-button" ui-sref="main.stock">
                    <div>
                        <i class="icon icon-assertive typcn typcn-clipboard dashboard-icon"></i>
                        <span class="dashboard-link">
                            All Products
                        </span>
                    </div>
                </div>
                <div class="col dashboard-button" ui-sref="main.unshipped">
                    <div>
                        <i class="icon icon-royal typcn typcn-shopping-cart dashboard-icon"></i>
                        <span class="dashboard-link">
                            Unshipped Orders
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col dashboard-button" ui-sref="main.past">
                    <div>
                        <i class="icon icon-calm typcn typcn-archive dashboard-icon"></i>
                        <span class="dashboard-link">
                            Past Orders
                        </span>
                    </div>
                </div>
                <div class="col dashboard-button" ui-sref="main.stats">
                    <div>
                        <i class="icon icon-positive typcn typcn-chart-pie dashboard-icon"></i>
                        <span class="dashboard-link">
                            Store Statistics
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col dashboard-button" ui-sref="main.subscription">
                    <div>
                        <i class="icon icon-energized typcn typcn-calendar dashboard-icon"></i>
                        <span class="dashboard-link">
                            Subscription Status
                        </span>
                    </div>
                </div>
                <div class="col dashboard-button" ui-sref="main.service">
                    <div>
                        <i class="icon icon-balanced typcn typcn-flash dashboard-icon"></i>
                        <span class="dashboard-link">
                            Service Updates
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-assertive item-icon-left" ng-click="menuVm.getAppUpdater()" ng-if="menuVm.updateNeeded === true">
        <i class="icon typcn typcn-bell"></i>
        <h1 class="title">Update Available</h1>
    </ion-footer-bar>
</ion-view>
