<ion-view hide-nav-bar="true">
    <ion-content>
        <img src="main/assets/images/logo_sept17_black.png" style="width: 100%; padding-top: 40px; padding-bottom: 10px;">

        <div class="card">
            <ion-list>
                <ion-item class="item-divider">
                    Store Name
                </ion-item>
                <ion-item>
                    <input type="text" ng-model="loginVm.user.store" required="required" autocapitalize="none">
                </ion-item>
                <ion-item class="item-divider">
                    Username
                </ion-item>
                <ion-item>
                    <input type="text" ng-model="loginVm.user.username" required="required" autocapitalize="none">
                </ion-item>
                <ion-item class="item-divider item-icon-right" ng-click="loginVm.togglePwdVisible()">
                    Password
                    <i ng-if="loginVm.showPassword" class="icon ion-eye"></i>
                    <i ng-if="!loginVm.showPassword" class="icon ion-eye-disabled"></i>
                </ion-item>
                <ion-item>
                    <input ng-if="loginVm.showPassword" type="text" ng-model="loginVm.user.password" required="required" autocapitalize="none">
                    <input ng-if="!loginVm.showPassword" type="password" ng-model="loginVm.user.password" required="required" autocapitalize="none">
                </ion-item>
                <ion-item>
                    <button class="button button-block button-royal" ng-click="loginVm.login()">
                        Sign In
                    </button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
