<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content>

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-royal">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left">

    <!-- menu header -->
    <ion-header-bar class="bar-dark">
      <h1 class="title">Navigation</h1>
    </ion-header-bar>

    <!-- menu content -->
    <ion-content ng-controller="MenuCtrl">
      <ion-list>
        <ion-item menu-close class="item-icon-left" ui-sref="main.dashboard">
          <i class="icon ion-android-home"></i>
          Dashboard
        </ion-item>
        <ion-item class="item-divider">
          Stock
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="main.stock">
          <i class="icon ion-filing"></i>
          All Products
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="main.warnings">
          <i class="icon ion-battery-low"></i>
          Warnings
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="main.unavailable">
          <i class="icon ion-close-circled"></i>
          Unavailable
        </ion-item>
        <ion-item class="item-divider">
          Orders
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="main.unshipped">
          <i class="icon ion-android-cart"></i>
          Unshipped
        </ion-item>
        <ion-item class="item-divider">
          Status
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="main.subscription">
          <i class="icon ion-calendar"></i>
          Subscription
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="main.service">
          <i class="icon ion-cloud"></i>
          Service
        </ion-item>
        <ion-item class="item-divider">
          User
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="main.settings">
          <i class="icon ion-gear-b"></i>
          Settings
        </ion-item>
        <ion-item menu-close class="item-icon-left" ng-click="menuVm.logout()">
          <i class="icon ion-android-exit"></i>
          Log Out
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-side-menu>

</ion-side-menus>
