<ion-view view-title="Past Orders" hide-back-button="true">
        <ion-content class="pink">
            <ion-refresher on-refresh="menuVm.getPastOrders()"
            pulling-text="Pull to refresh..."
            pulling-icon="ion-arrow-down-c"
            refreshing-text="Loading..."
            spinner="lines">
            </ion-refresher>

            <div class="card">
                <ion-item class="item-divider">
                    Showing past 15 orders
                </ion-item>
            </div>

            <div class="card" ng-if="menuVm.pastOrders.length < 1">
                <ion-item class="item-icon-left">
                    <i class="icon typcn typcn-warning amber-text"></i>
                    No past orders found!
                </ion-item>
            </div>

            <div class="card" ng-repeat="order in menuVm.pastOrders">
                <ion-list>
                    <ion-item class="item-divider item-icon-right">
                        Order #{{order.id}}
                        <div class="item-hint">{{order.date_created | date:"HH:mm, dd MMMM yyyy"}}</div>
                    </ion-item>
                    <ion-item>
                        <div style="font-weight: 600;font-size: 1.2em;">{{order.shipping.first_name}} {{order.shipping.last_name}}</div>
                        <div ng-if="order.shipping.country">{{order.shipping.country}}</div>
                    </ion-item>
                    <ion-item class="item-divider">
                        Order Details
                    </ion-item>
                    <ion-item>
                        <table class="clear-table">
                            <tr style="font-weight: 600; border-bottom: 1px solid rgb(131, 131, 131);">
                                <td style="width:65%;">
                                    Item
                                </td>
                                <td style="text-align: right;">
                                    Qty
                                </td>
                                <td style="text-align: right;">
                                    Price
                                </td>
                            </tr>
                            <tr ng-repeat="item in order.line_items">
                                <td style="word-wrap: normal; white-space: normal;" ng-class="item.meta_data[1]['key'] === 'woosb_parent_id' ? 'bundle-list' : ''" colspan="{{item.meta_data[1]['key'] === 'woosb_parent_id' ? '3' : '1'}}">
                                    <div ng-bind-html="item.name"></div>
                                    <div ng-hide="item.meta_data[1]['key'] === 'woosb_parent_id'" ng-bind-html="item.sku" class="item-hint"></div>
                                </td>
                                <td style="text-align: right;" ng-hide="item.meta_data[1]['key'] === 'woosb_parent_id'">
                                    {{item.quantity}}
                                </td>
                                <td style="text-align: right;" ng-hide="item.meta_data[1]['key'] === 'woosb_parent_id'">
                                    <span ng-bind-html="menuVm.currencySymbol"></span>
                                    <span>{{item.price | number:2}}</span>
                                </td>
                            </tr>
                        </table>
                        <table class="clear-table" style="margin-top: 20px;">
                            <tr>
                                <td style="font-weight: 600;">
                                    Shipping
                                </td>
                                <td></td>
                                <td style="text-align: right;">
                                    <span ng-bind-html="menuVm.currencySymbol"></span>
                                    {{order.shipping_total}}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: 600;">
                                    Tax
                                </td>
                                <td></td>
                                <td style="text-align: right;">
                                    <span ng-bind-html="menuVm.currencySymbol"></span>
                                    {{order.total_tax}}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: 600;">
                                    Discounts
                                </td>
                                <td></td>
                                <td style="text-align: right;">
                                    - <span ng-bind-html="menuVm.currencySymbol"></span>
                                    {{order.discount_total}}
                                </td>
                            </tr>
                            <tr style="border-top: 1px solid rgb(131, 131, 131);">
                                <td style="font-weight: 600;">
                                    Total
                                </td>
                                <td></td>
                                <td style="font-weight: 600; text-align: right;">
                                    <span ng-bind-html="menuVm.currencySymbol"></span>
                                    {{order.total}}
                                </td>
                            </tr>
                        </table>
                    </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </ion-view>
