<ion-modal-view>
    <ion-header-bar class="item-icon-right bar-dark">
        <h1 class="title">Release Notes - v{{currentAppVersion}}</h1>
        <i class="icon typcn typcn-times" ng-click="menuVm.acknowledgeRelease()"></i>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <ion-item class="item-divider">
                What's New
            </ion-item>
            <ion-item>
                <ul class="release-notes">
                    <li>
                        The Dashboard has had a visual upgrade, and the background for the app is a little more colourful.
                    </li>
                    <li>
                        You can now bulk update product variations, setting their stock levels and prices all at once.
                    </li>
                    <li>
                        The All Products page has had a renovation, including smaller product images to increase screen estate usage.
                    </li>
                    <li>
                        If a product or any of its variations are low on or out of stock, the main product title on the All Products will now be coloured to reflect that status.
                    </li>
                    <li>
                        The Update Product section has also had a visual upgrade, making it easier to use and take up less space on the screen.
                    </li>
                </ul>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>