<ion-view view-title="Service Updates">
    <ion-content>
        <ion-refresher on-refresh="menuVm.updateServiceStatus()"
        pulling-text="Pull to refresh..."
        pulling-icon="ion-arrow-down-c"
        refreshing-text="Loading..."
        spinner="lines">
        </ion-refresher>

        <div class="card" ng-repeat="status in menuVm.serviceStatus">
            <ion-list>
                <ion-item class="item-divider item-dark">
                        {{status.updated_on | date:"dd MMMM yyyy HH:mm"}}
                </ion-item>
                <ion-item class="item-icon-left">
                    <i class="icon status-icon" ng-class="menuVm.serviceStatusIcon(status.status_code)"></i>
                    <span class="dashboard-text">
                            {{status.status_text}}
                    </span>
                </ion-item>
                <ion-item ng-if="status.status_attachment" class="item-divider item-icon-left"  ng-click="menuVm.serviceStatusLink(status.status_attachment)">
                    <i class="icon typcn typcn-attachment-outline"></i> Attachment
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
