<ion-view view-title="Update Stock">
    <ion-content>
        <div class="card">
            <ion-list>
                <div ng-repeat="variant in menuVm.productVariants[menuVm.currentProductStock]">
                    <ion-item class="item-divider">
                        {{variant.sku}}
                    </ion-item>
                    <ion-item>
                        <input type="number" ng-model="menuVm.stockToUpdate[variant.id]" required="required" autocapitalize="none">
                    </ion-item>
                </div>
                <ion-item>
                    <button class="button button-block button-royal" ng-click="menuVm.updateAllStock()">
                        Update Stock
                    </button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
