<ion-view view-title="All Products" hide-back-button="true">
    <ion-content class="red">
        <ion-refresher on-refresh="menuVm.getAllProducts()"
        pulling-text="Pull to refresh..."
        pulling-icon="ion-arrow-down-c"
        refreshing-text="Loading..."
        spinner="lines">
        </ion-refresher>

        <div class="card" ng-repeat="product in menuVm.productList | orderBy: 'name'" ng-init="menuVm.stockViewShow(product.id)">
            <ion-list>
                <ion-item class="item-divider item-icon-right" ng-click="menuVm.stockViewToggle(product.id)">
                    <span class="product-name-spill" ng-class="{'amber-text semi-bold' :  menuVm.productStockWarnings[product.id] == 1, 'red-text full-bold' :  menuVm.productStockWarnings[product.id] == 0}" ng-bind-html="product.name"></span>
                    <i class="icon typcn" ng-class="menuVm.stockViewList[product.id] ? 'typcn-arrow-minimise' : 'typcn-arrow-maximise'"></i>
                    <div class="item-hint">
                        {{product.categories[0].name}}
                    </div>
                </ion-item>
            </ion-list>
            <ion-list ng-show="menuVm.stockViewList[product.id]">
                <ion-item>
                    <img ng-src="{{product.images[0].src}}" style="width: 100%;" />
                </ion-item>
                <ion-item class="item-balanced" ng-if="product.on_sale">
                    ON SALE
                </ion-item>
                <ion-item>
                    <table class="clear-table" ng-if="product.type === 'simple'">
                        <tr>
                            <td style="font-weight: 600;">
                                Price
                            </td>
                            <td style="text-align: right;">
                                <span ng-bind-html="menuVm.currencySymbol"></span>
                                {{product.price | number:2}}
                            </td>
                        </tr>
                        <tr ng-hide="product.manage_stock === false" ng-class="{'plain-text' : product.stock_quantity == null, 'amber-text' : product.stock_quantity <= menuVm.userSettings['stockTrigger'], 'red-text semi-bold' : product.stock_quantity == 0}">
                            <td style="font-weight: 600;">
                                Stock
                            </td>
                            <td style="text-align: right;">
                                {{product.stock_quantity}}
                            </td>
                        </tr>
                    </table>
                    <table class="clear-table" ng-if="product.type === 'woosb'">
                        <tr>
                            <td style="font-weight: 600;">
                                Price
                            </td>
                            <td style="text-align: right;">
                                <span ng-bind-html="menuVm.currencySymbol"></span>
                                {{product.price | number:2}}
                            </td>
                        </tr>
                        <tr ng-class="{'plain-text' : product.stock_quantity == null, 'amber-text' : product.stock_quantity <= menuVm.userSettings['stockTrigger'], 'red-text semi-bold' : product.stock_quantity == 0}">
                            <td style="font-weight: 600;">
                                Stock (lowest in bundle)
                            </td>
                            <td style="text-align: right;">
                                {{product.stock_quantity || '—'}}
                            </td>
                        </tr>
                    </table>
                    <table class="clear-table" ng-if="product.type === 'variable'">
                        <tr style="font-weight: 600;border-bottom: 1px solid #888">
                            <td>
                                Variant
                            </td>
                            <td style="text-align: right;">
                                Price
                            </td>
                            <td style="text-align: right;">
                                Stock
                            </td>
                        </tr>
                        <tr ng-repeat="variant in menuVm.productVariants[product.id]" ng-class="{'plain-text' : variant.stock_quantity == null, 'amber-text' : variant.stock_quantity <= menuVm.userSettings['stockTrigger'], 'red-text semi-bold' : variant.stock_quantity == 0}">
                            <td>
                                {{variant.sku}}
                            </td>
                            <td style="text-align: right;">
                                <span ng-bind-html="menuVm.currencySymbol"></span>
                                {{variant.price | number:2}}
                            </td>
                            <td style="text-align: right;">
                                {{variant.stock_quantity || '—'}}
                            </td>
                        </tr>
                    </table>
                </ion-item>
                <ion-item class="item-divider item-icon-right" ng-click="menuVm.goToSingleStock(product.id)" ng-if="product.type === 'simple'" ng-hide="product.manage_stock === false">
                    Update Product
                    <i class="icon typcn typcn-pencil"></i>
                </ion-item>
                <ion-item class="item-divider item-icon-right" ng-click="menuVm.goToBundleStock(product.id)" ng-if="product.type === 'woosb'">
                    Update Product
                    <i class="icon typcn typcn-pencil"></i>
                </ion-item>
                <ion-item class="item-divider item-icon-right" ng-click="menuVm.goToVariantStock(product.id)" ng-if="product.type === 'variable'">
                    Update Product
                    <i class="icon typcn typcn-pencil"></i>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
