<ion-view view-title="Subscription Status">
    <ion-content>
        <div class="card">
            <ion-list>
                <ion-item class="item-divider">
                    Subscription Type
                </ion-item>
                <ion-item >
                    {{menuVm.subStatusMessage}}
                </ion-item>
                <ion-item class="item-divider">
                    Renewal Date
                </ion-item>
                <ion-item>
                    {{menuVm.subStartedDate}}
                </ion-item>
                <ion-item class="item-divider">
                    Expiry Date
                </ion-item>
                <ion-item >
                    {{menuVm.subExpiresDate}}
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
