<ion-view view-title="Unshipped Orders">
        <ion-content>
            <ion-refresher on-refresh="menuVm.getUnshippedOrders()"
            pulling-text="Pull to refresh..."
            pulling-icon="ion-arrow-down-c"
            refreshing-text="Loading..."
            spinner="lines">
            </ion-refresher>

            <div class="card" ng-if="menuVm.unshippedOrders.length < 1">
                <ion-item class="item-icon-left">
                    <i class="icon ion-android-happy green-text"></i>
                    Nothing left to ship!
                </ion-item>
            </div>

            <div class="card" ng-repeat="order in menuVm.unshippedOrders">
                <ion-list>
                    <ion-item class="item-divider item-dark">
                        Order #{{order.id}}
                        <div class="item-hint">{{order.date_created | date:"HH:mm, dd MMMM yyyy"}}</div>
                    </ion-item>
                    <ion-item class="item-divider">
                        Shipping Address
                    </ion-item>
                    <ion-item>
                        <div style="font-weight: 600;font-size: 1.2em;">{{order.shipping.first_name}} {{order.shipping.last_name}}</div>
                        <div ng-if="order.shipping.company">{{order.shipping.company}}</div>
                        <div ng-if="order.shipping.address_1">{{order.shipping.address_1}}</div>
                        <div ng-if="order.shipping.address_2">{{order.shipping.address_2}}</div>
                        <div ng-if="order.shipping.city">{{order.shipping.city}}</div>
                        <div ng-if="order.shipping.state">{{order.shipping.state}}</div>
                        <div>{{order.shipping.postcode}}</div>
                    </ion-item>
                    <ion-item class="item-divider">
                        Items Purchased
                    </ion-item>
                    <ion-item>
                        <table class="clear-table">
                            <tr style="font-weight: 600;border-bottom: 1px solid #888">
                                <td style="width:65%;">
                                    Item
                                </td>
                                <td style="text-align: right;">
                                    Price
                                </td>
                                <td style="text-align: right;">
                                    Qty
                                </td>
                            </tr>
                            <tr ng-repeat="item in order.line_items">
                                <td style="word-wrap: normal; white-space: normal;">
                                    {{item.name}}
                                </td>
                                <td style="text-align: right;">
                                    {{item.price | number:2}}
                                </td>
                                <td style="text-align: right;">
                                    {{item.quantity}}
                                </td>
                            </tr>
                        </table>
                    </ion-item>
                    <ion-item class="item-divider">
                        Totals
                    </ion-item>
                    <ion-item>
                        <table class="clear-table">
                            <tr>
                                <td style="font-weight: 600;">
                                    Shipping
                                </td>
                                <td style="text-align: right;">
                                    {{order.shipping_total}}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: 600;">
                                    Tax
                                </td>
                                <td style="text-align: right;">
                                    {{order.total_tax}}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: 600;">
                                    Order
                                </td>
                                <td style="text-align: right;">
                                    {{order.total}}
                                </td>
                            </tr>
                        </table>
                    </ion-item>
                    <ion-item class="item-divider">
                        Shipping Company
                    </ion-item>
                    <ion-item>
                        <input type="text" ng-model="menuVm.trackingOrders[order.id]['company']" autocapitalize="none">
                    </ion-item>
                    <ion-item class="item-divider">
                        Tracking Reference
                    </ion-item>
                    <ion-item>
                        <input type="text" ng-model="menuVm.trackingOrders[order.id]['reference']" autocapitalize="none">
                    </ion-item>
                    <ion-item>
                        <button class="button button-block button-royal icon-left ion-paper-airplane" ng-click="menuVm.markOrderShipped(order.id)">
                            Mark As Dispatched
                        </button>
                    </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </ion-view>
